@model DemoU2FSite.Models.BeginLoginModel
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    
    <h1> This is currently not complete!!!</h1>
    <br/>

    <h2>Login</h2>
    <p>Enter a username and then touch your U2F token.</p>
   
    @using (Html.BeginForm("BeginLogin", "Home"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Log in Form</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </li>
            </ol>
            <input type="submit" value="Log in" />
        </fieldset>    
        <p>
            @Html.ActionLink("Register", "Register", "Home") if you don't have an account.
        </p>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}