@model DemoU2FSite.Models.BeginLoginModel

@{
    ViewBag.Title = "Home Page";
}

@section featured {
    
    <h1> This is currently not complete!!!</h1>
    <br/>

    <h2>Login</h2>
    <p>Enter a username and then touch your U2F token.</p>
   
    @using (Html.BeginForm("BeginLogin", "Home"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Log in Form</legend>
            <div class=".col-xs-12 .col-sm-6 .col-lg-8">
                <div class=".col-xs-6 .col-sm-4">
                    @Html.LabelFor(m => m.UserName)
                </div>
            </div>
            <div class=".col-xs-12 .col-sm-6 .col-lg-8">
                <div class=".col-xs-6 .col-sm-4">
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>
            <div class=".col-xs-12 .col-sm-6 .col-lg-8">
                <div class=".col-xs-6 .col-sm-4">
                    @Html.LabelFor(m => m.Password)
                </div>
            </div>
            <div class=".col-xs-12 .col-sm-6 .col-lg-8">
                <div class=".col-xs-6 .col-sm-4">
                    @Html.TextBoxFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <br/>
            <input type="submit" value="Log in" />
        </fieldset>
        
        <br/>
        <p>
            @Html.ActionLink("Register", "Register", "Home") if you don't have an account.
        </p>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}