<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>ASP.NET MVC Application U2F Demo</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />    
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/bootstrap")

        <script src="chrome-extension://pfboblefjcgdjicmnffhdgionmgcdmne/u2f-api.js"></script>
        @RenderSection("specialJS", required: false)
    </head>
    <body>
        <div id="body" class="container-fluid">
            @RenderSection("featured", required: false)
                @RenderBody()
        </div>
        <footer>
            <div class="container-fluid">
                    <p>&copy; @DateTime.Now.Year - ASP.NET MVC Application U2F Demo</p>                
            </div>
        </footer>

                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")

        @RenderSection("scripts", required: false)
    </body>
</html>
