<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>ASP.NET MVC Application U2F Demo</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />   
        @Styles.Render("~/Content/bootstrap")
        <script src="@Url.Content("~/Scripts/u2f-api.js")"></script>
        @RenderSection("specialJS", required: false)
    </head>
    <body>
        
    <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">ASP.NET MVC U2F DEMO</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Login", "Login", "Home")</li>
                        <li>@Html.ActionLink("Register", "Register", "Home")</li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

    <div class="container">
        <br/>
        <br/>
        <br/>
        <div class="bg-danger" role="alert">
            @Html.ValidationMessage("CustomError")
        </div>
        <br/>
        <div class="app_hide alert alert-danger" style="display: none;">
            <p>This demo requires Chrome 44+!</p>
            <div class="not_chrome" style="display: none;">
                <p><strong>Your current browser is not yet supported.</strong></p>
                <a class="btn" href="https://www.google.com/chrome/browser/">Get Chrome</a>
            </div>
            <div class="chrome" style="display: none;">
                Update your chrome friend
            </div>
        </div>

        @RenderSection("featured", required: false)
        @RenderBody()
    </div>

        <br/>
    
        <footer class="footer">
            <div class="container">
                <p class="text-muted">&copy; @DateTime.Now.Year - ASP.NET MVC Application U2F Demo</p>                
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/browser")
        @Scripts.Render("~/bundles/bootstrap")

        @RenderSection("scripts", required: false)
        
        <script type="text/javascript">
            $(document).ready(function () {
                if (!bowser.chrome) {
                    $(".app_hide").show();
                    $('.not_chrome').show();
                }

                if (window.u2f === undefined) {
                    $(".app_hide").show();
                    $(".chrome").show();
                }
            });
        </script>
    </body>
</html>
